body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("/images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    
    
}

header {
    padding: 20px;
    text-align: center;
    background-color: transparent;
    text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.7);
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
}

header h2 {
    font-size: 1.5em;
    margin-top: 5px;
    color: rgb(255, 137, 137);
    text-shadow: 2px 2px 4px rgba(165, 0, 0, 0.7);
}

nav {
    display: flex;
    justify-content: left;
    background-color: #2d3bffa1;
    padding: 15px;
    box-shadow: 0px 10px 25px black;
}

nav button {
    background-color: #ffffff00;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 20px;
    color: white;
    text-overflow: clip;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.7s;
    border-radius: 10px;
}

nav button:hover {
    background-color: #7E83F7;
}

nav button:active {
    background-color: #a7a9e4;
    scale: 1.1;
    transition: 0.3s;
}

footer {
    background-color: transparent;
    color: white;
    text-shadow: 2px 2px 2px black;
    padding: 20px;
    font-size: 1em;
}
