.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
}

.left, .middle, .right {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 20px; 
}

.middle {
    justify-content: center;
}

.container div {
    padding: 20px;
    border-radius: 10px;
    position: relative; 
    width: 500px;
    padding-bottom: 60px; 
    margin: 20px;
}

.container div h3 {
    color: orange;
    text-align: right;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px black;
}

.container div p {
    margin-bottom: 50px;
    text-align: right;
    font-size: 2vh;
}

.container div#html {
    background-color: rgba(204, 0, 255, 0.5);
    box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.7);
    border-bottom: 5px solid rgb(255, 0, 255);
}

.container div#dns {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.7);
    border-bottom: 5px solid red;
}

.container div#css {
    background-color: rgba(44, 188, 255, 0.5);
    box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.7);
    border-bottom: 5px solid rgb(0, 100, 255);
}

.container div#tcpip {
    background-color: rgba(173, 0, 72, 0.5);
    box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.7);
    border-bottom: 5px solid rgb(0, 255, 255);
}

.logo {
    position: absolute; 
    bottom: 10px; 
    left: 10px; 
    width: 50px;  
    height: auto; 
}

