body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

header {
    padding: 20px;
    text-align: center;
    background-color: transparent;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: left;
    background-color: #2d3bffa1;
    padding: 15px;
}

nav button {
    background-color: #ffffff00;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

nav button:hover {
    background-color: #7E83F7;
}

.container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 50px;
    text-align: left;
    display: flex;
    justify-content: center;
}

.container div {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
}

.container div h3 {
    color: orange;
    text-align: right;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px black;
}

.container div#css {
    background-color: rgba(44, 188, 255, 0.5);
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.7);
}

footer {
    background-color: transparent;
    color: white;
    padding: 20px;
    font-size: 1em;
}
